SERVER	:=	server
CLIENT	:=	client

CC			:=	gcc
CFLAGS	:=	-I../../include -I.
LDFLAGS	:=	-L../..
LDLIBS	:=	-ltickle

all: $(SERVER) $(CLIENT)
	cp $^ ../..

$(SERVER): {{ server }} {{ preprocessor }}
	$(CC) $(CFLAGS) -o $@ $^ $(LDFLAGS) $(LDLIBS)

$(CLIENT): {{ client }} {{ preprocessor }}
	$(CC) $(CFLAGS) -o $@ $^ $(LDFLAGS) $(LDLIBS)

fclean:
	$(RM)	$(SERVER) $(CLIENT)

clean: fclean

re: clean
	$(MAKE) all

.PHONY: all run clean
