{% import 'macro.jinja' as macro %}
#pragma once

#include <tickle/tickle.h>

{% for include in includes %}
#include "{{ include }}"
{% if loop.last %}

{% endif %}
{% endfor %}
{{ macro.create_message_struct("Request", srv_unique_name, request) }}

{{ macro.create_message_struct("Response", srv_unique_name, response) }}

extern struct tt_Service {{ srv_unique_name }}Service;
{% for field in request.fields if field.named %}
extern struct tt_Topic {{ field.type_name | replace("struct ", "", 1) }}Topic;
{% endfor %}
{% for field in response.fields if field.named %}
extern struct tt_Topic {{ field.type_name | replace("struct ", "", 1) }}Topic;
{% endfor %}
