#include <stdio.h>

#include "msg/{{ msg_name }}.h"

static void {{ msg_name | lower }}_data_callback(struct tt_Subscriber* sub, uint64_t timestamp, uint16_t seq_no,
                                 struct {{ msg_unique_name }}Data* data) {
    printf("  timestamp: %ld\n", timestamp);
    printf("  seq_no: %d\n", seq_no);
}

int main(int argc, char* argv) {
    _tt_CONFIG.broadcast = "192.168.10.255";

    struct tt_Node node;
    int32_t ret = tt_Node_create(&node);
    if (ret != 0) {
        printf("Cannot create node: %d\n", ret);
        return ret;
    }

    printf("Node created(#%d)\n", node.id);

    struct tt_Subscriber sub;

    ret = tt_Node_create_subscriber(&node, &sub, &{{ msg_unique_name }}Topic, "{{ msg_name | lower }}_topic",
                                    (tt_SUBSCRIBER_CALLBACK){{ msg_name | lower }}_data_callback);
    if (ret != 0) {
        printf("Cannot create subscriber: %d\n", ret);
        return ret;
    }

    tt_Node_poll(&node);

    tt_Node_destroy(&node);

    return 0;
}
