{% macro get_field_size(field) -%}
{% if field.type_name == "char*" or field.type_name == "uint16_t*" %}
_tt_strnlen(data->{{ field.name }}, tt_MAX_STRING_LENGTH) + 1
{%- elif field.nested %}
{{ field.type_name | replace("struct ", "", 1) }}Topic.data_encode_size(data->{{ field.name }})
{%- else %}
sizeof(data->{{ field.name }})
{%- endif %}
{%- endmacro %}
#include "msg/{{ msg_name }}.h"

#include <tickle/hal.h>

struct tt_Topic {{ msg_unique_name }}Topic = {
    .name = "{{ msg_unique_name }}Topic",
    .data_size = sizeof(struct {{ msg_name }}Data),
    .data_encode_size = (tt_DATA_ENCODE_SIZE){{ msg_name }}Data_encode_size,
    .data_encode = (tt_DATA_ENCODE){{ msg_name }}Data_encode,
    .data_decode = (tt_DATA_DECODE){{ msg_name }}Data_decode,
    .data_free = (tt_DATA_FREE){{ msg_name }}Data_free,
};

typedef struct {{ msg_unique_name }}Data {{ msg_name }}Data;

int32_t {{ msg_name }}Data_encode_size({{ msg_name }}Data* data) {
    return
{%- for field in message.fields -%}
{%- if loop.first %}

{%- else %}
        +
{%- endif %}
 {{ get_field_size(field) }}
{%- if loop.last -%}
;
{% else %}

{% endif %}
{% endfor %}
}

int32_t {{ msg_name }}Data_encode({{ msg_name }}Data* data, uint8_t* payload, const int32_t len) {
    int32_t encoded = 0;

    if ({{ msg_name }}Data_encode_size(data) > len) {
        return -1;
    }
{% for field in message.fields %}
    // encode - {{ field.type_name }} {{ field.name }}
{# *({{ field.type_name }}*)payload = data->{{field.name}}; #}
    _tt_memcpy(payload, &data->{{ field.name }}, sizeof({{ field.type_name }}));
    encoded += sizeof({{ field.type_name }});
    payload += sizeof({{ field.type_name }});

{% endfor %}
    return encoded;
}

int32_t {{ msg_name }}Data_decode({{ msg_name }}Data* data, const uint8_t* payload, const int32_t len, bool is_native_endian) {
    int32_t decoded = 0;

    /*
    NOTE: 1. is this function allowed to return error?
          2. using memcpy to avoid misaligned dereferencing
    */
    if (len < {{ msg_name }}Data_encode_size(data)) {
        return -1;
    }

{% for field in message.fields %}
    // decode - {{ field.type_name }} {{ field.name }}
    _tt_memcpy(&data->{{ field.name }}, payload, sizeof({{ field.type_name }}));
{# data->{{ field.name }} = *({{field.type_name}}*)payload; #}
    decoded += sizeof({{ field.type_name }});
    payload += sizeof({{ field.type_name }});

{% endfor %}
    return decoded;
}

void {{ msg_name }}Data_free({{ msg_name }}Data* data) {
}
