#pragma once

#include <tickle/tickle.h>

{% for include in includes %}
#include "{{ include }}"
{% endfor %}

struct {{ msg_name }}Data {
{% for field in message.fields %}
{% if field.type_name == "char*" or field.type_name == "uint16_t*" %}
    {{ field.type_name }} {{ field.name }}
    {%- if field.size == -1 -%}
        []
    {%- elif field.size != 0 -%}
        [{{ field.size }}]
    {%- endif -%}
;
{% else %}
    {{ field.type_name }} {{ field.name }}
    {%- if field.size == -1 -%}
        [];
    {%- elif field.size != 0 -%}
        [{{ field.size }}]
    {%- endif -%}
;
{% endif %}
{% endfor %}
};

extern struct tt_Topic {{ msg_name }}Topic;

int32_t {{ msg_name }}Data_encode_size(struct {{ msg_name }}Data* data);
int32_t {{ msg_name }}Data_encode(struct {{ msg_name }}Data* data, uint8_t* payload, const int32_t len);
int32_t {{ msg_name }}Data_decode(struct {{ msg_name }}Data* data, const uint8_t* payload, const int32_t len, bool is_native_endian);
void {{ msg_name }}Data_free(struct {{ msg_name }}Data* data);
