#pragma once

#include <tickle/tickle.h>

{% for include in includes %}
#include "{{ include }}"
{% if loop.last %}

{% endif %}
{% endfor %}
struct {{ msg_unique_name }}Data {
{% for field in message.fields %}
{% if field.type_name == "char*" or field.type_name == "uint16_t*" %}
    {{ field.type_name }} {{ field.name }}
    {%- if field.size == -1 -%}
        []
    {%- elif field.size != 0 -%}
        [{{ field.size }}]
    {%- endif -%}
;
{% else %}
    {{ field.type_name }}{% if field.named %}Data{% endif %} {{ field.name }}
    {%- if field.size == -1 -%}
        []
    {%- elif field.size != 0 -%}
        [{{ field.size }}]
    {%- endif -%}
;
{% endif %}
{% endfor %}
};

extern struct tt_Topic {{ msg_unique_name }}Topic;
{% for field in message.fields if field.named %}
extern struct tt_Topic {{ field.type_name | replace("struct ", "", 1) }}Topic;
{% endfor %}
